
.footerCont {
    width: 100%;
    height: 64px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerTxt span{
    background-color: white; color: black;
}
.footerTxt{
    font-size: larger;
}